@charset "utf-8";
/* CSS Document */
/*--------------------------常规--------------------*/
*{ margin:0; padding:0;}
body{ font-family:"microsoft yahei"; font-size:12px; color:#777;}
ul,ol{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline; color:#0CC;}
.darkgray{ color:#4d4d4d;}

/*------------------布局 分六个区域--------------------------*/
.header{ height:90px; background-color:#f7f8fa;}
.print{ height:170px; background:url(../images/MIB.png) no-repeat;}
.up{ height:50px; margin-top:-50px;}
.details{ height:580px; background-color:#fff;}
.blank{ height:120px;}
.foot{ height:155px; background-color:#525e6a;}

/*-------------------确定中心宽度------------------------------*/
.centre{ width:1000px; margin:0 auto; height:100%}


.up .centre{ background-color:#fff;}


/*----------------------details 分隔区域---------------------*/
.lside{ width:249px; float:left; height:578px; border:1px solid #eaeaea; border-right:none;}
.rside{ width:748px; float:right; height:578px; border:1px solid #eaeaea;}

/*----------------------rside 分隔区域----------------------*/
.rheader{ width:660px; margin:0 auto; height:80px; border-bottom:1px solid #eaeaea;}
.rfoot{ width:660px; margin:0 auto;}


/*---------------------------header 编辑区---------------*/
.header-mg{ float:left; margin-top:15px; margin-left:5px;}
.header-mg img{ border:none;}
.header-text{ float:right; border-right:1px dashed #eaeaea;}
.header-text span{ display:block; font-size:18px;}
.header-text li{ float:left; width:120px; text-align:center; height:65px; padding-top:25px; border-left:1px dashed #eaeaea; font-size:9px;}
.header-text li a{ color:#565656; border-bottom:3px solid transparent; display:block; height:62px;}
.header-text li a:hover{ color:#39F; border-bottom:3px solid #39f; text-decoration:none;}
.header-text .active a{ color:#39F; border-bottom:3px solid #39f; text-decoration:none;}

/*-----------------------------print 编辑区----------------*/
.print h3{ text-align:center; font-size:10px; padding-top:35px; font-weight:normal; color:#fff;}
.print h3 span{ display:block; font-size:20px;}

/*-----------------------------up 编辑区----------------*/
.up a{ color:#777;}
.up a:hover{ color:#39f;}
.nav{ float:left; padding-left:30px; margin-top:15px;}
.nav span{ margin-right:15px;}
.vad{ float:right;}
.vad li{ float:left; height:50px; line-height:50px; width:125px; border-left:1px solid #eaeaea; text-align:center;}
.up .vad li a{ display:block; height:50px;}
.up .vad .active{ background:#39f; color:#fff;}
.up .vad li a:hover{ color:#FFF; background:#39f; text-decoration:none;}

/*-----------------------------details中lside的编辑区----------------*/
.lside ul{ margin-left:35px; margin-top:40px;}
.lside ul li{ margin-top:15px;}
.lside ol li{ margin-top:10px;}
.lside ol a{ color:#777;}
.lside h2 a{ color:#333; font-weight:normal; font-family:黑体;}
.lside ul a:hover{ color:#39f;}
.lside .active{ color:#39f; text-decoration:underline;}
.lside ol{ list-style:disc; text-indent:1em;}

/*--------------------------------rside的编辑区-----------------------*/
.rheader span{ float:left; margin-right:10px; margin-top:35px; padding-bottom:6px;}
.rheader span{ width:39px; border-bottom:1px solid #26c6f8; text-decoration:underline;}
.rheader h2{ float:left; margin-top:42px; font-family:黑体; font-size:22px; font-weight:normal; color:#242424;}
.rheader img{ border:0;}
.rfoot .rtext{ background:#f8f8f8; float:right; width:320px; height:245px; padding-top:20px; margin-top:20px;}
.rfoot .rtext p{ margin-left:15px; margin-bottom:10px; color:#64605f;}
.rfoot .picture{ float:left; margin-top:20px;}
.rfoot .rtext img{ margin-left:10px;}
.rfoot .uname{ width:50px; height:20px; margin-left:10px;}
.rfoot .sub{ width:80px; height:20px; margin-left:100px; background:#ffb15e; border:0; color:#000; cursor:pointer;}

/*------------------------------------foot的编辑区---------------------------*/
.foot .fheader{ float:left; margin-top:50px;}
.foot ul{ float:left; margin-left:50px; margin-top:45px;}
.foot li{ color:#a4b7c8; line-height:25px;}

