@charset "utf-8";
/* CSS Document */
/*--------------------------常规--------------------*/
*{ margin:0; padding:0;}
body{ font-family:"microsoft yahei"; font-size:12px; color:#777;}
ul,ol{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline; color:#0CC;}
.darkgray{ color:#4d4d4d;}

/*------------------布局 分六个区域--------------------------*/
.header{ height:90px; background-color:#f7f8fa;}
.print{ height:170px; background:url(../images/banner_channel.png) no-repeat;}
.up{ height:50px; margin-top:-50px;}
.details{ height:700px; background-color:#fff;}
.blank{ height:77px;}
.foot{ height:155px; background-color:#525e6a;}
.person{ width:300px; height:900px; margin-right:130px; margin-top:90px; float:right;}

/*-------------------确定中心宽度------------------------------*/
.centre{ width:1000px; margin:0 auto; height:100%;}
.up .centre{ background-color:#fff;}

/*----------------------details 分隔区域---------------------*/
.lside{ width:249px; float:left; height:698px; border:1px solid #eaeaea; border-right:none; background:#efefef;}
.rside{ width:748px; float:right; height:698px; border:1px solid #eaeaea;}

/*----------------------rside 分隔区域----------------------*/
.rcentre{ width:660px; margin:0 auto;}

.rheader .rcentre{ height:40px; border-bottom:1px solid #eaeaea;}
.rfoot .rcentre{ height:538px;}


/*---------------------------header 编辑区---------------*/
.header-mg{ float:left; margin-top:15px; margin-left:5px;}
.header-mg img{ border:none;}
.header-text{ float:right; border-right:1px dashed #eaeaea;}
.header-text span{ display:block; font-size:18px;}
.header-text li{ float:left; width:120px; text-align:center; height:65px; padding-top:25px; border-left:1px dashed #eaeaea; font-size:9px;}
.header-text li a{ color:#565656; border-bottom:3px solid transparent; display:block; height:62px;}
.header-text li a:hover{ color:#39F; border-bottom:3px solid #39f; text-decoration:none;}
.header-text .active a{ color:#39F; border-bottom:3px solid #39f; text-decoration:none;}

/*-----------------------------print 编辑区----------------*/
.print h3{ text-align:center; margin-left:400px; font-size:10px; padding-top:35px; font-weight:normal; color:#9d741c;}
.print h3 span{ display:block; font-size:20px;}

/*-----------------------------up 编辑区----------------*/
.up a{ color:#777;}
.up a:hover{ color:#39f;}
.nav{ float:left; padding-left:30px; margin-top:15px;}
.nav span{ margin-right:15px;}
.vad{ float:right;}
.vad li{ float:left; height:50px; line-height:50px; width:199px; border-left:1px solid #eaeaea; text-align:center;}
.up .vad li a{ display:block; height:50px;}
.up .vad .active{ background:#39f; color:#fff;}
.up .vad li a:hover{ color:#FFF; background:#39f; text-decoration:none;}

/*-----------------------------details中lside的编辑区----------------*/
.lheader{ width:225px; margin:0 auto;}

.block .lheader{ height:60px; border-bottom:1px solid #eaeaea;}
.block img{ vertical-align:middle; margin:20px 10px 10px 30px; border:0;}
.block a{ color:#acacac; padding-top:5px;}
.block a:hover{ color:#333;}

/*--------------------------------rside的编辑区-----------------------*/
.rheader h2{ float:left; font-size:20px; font-weight:normal; color:#009ab9; margin-left:10px; margin-top:5px;}
.rheader p{ float:right; margin-top:10px; margin-right:15px; color:#666;}
.rheader .nav{ color:#666;}
table{ margin-top:20px; margin-bottom:25px;}
table td{ text-align:center; height:122px;}
table th{ width:170px; height:40px;}
table .dark{ background:#b4b2b3; color:#fff;}
table .gray{ background:#dad8d9; color:#666;}
.para{ width:610px; margin:0 auto; padding-left:50px;}
.para1,.para3{ background:#e8e6e7; height:50px; line-height:50px;}
.para2{ background:#f1f1f1; height:90px; line-height:90px;}
.para3 span{ float:right;}
.rside a{ color:#0cb2da;}


/*------------------------------------foot的编辑区---------------------------*/
.foot .fheader{ float:left; margin-top:50px;}
.foot ul{ float:left; margin-left:50px; margin-top:45px;}
.foot li{ color:#a4b7c8; line-height:25px;}

